// COLORS
$primary-color: #00b0b3;
$secondary-color: #00899c;
// $primary-color: #84c9ca;
// $secondary-color: #076974;

$white-color: #fff;

$dark-grey: #38302e;

$dark-blue-text: #00606B; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
